@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


#nav {
    list-style: none;
    display: flex;
    background-color: black;
    margin: -8px;
    padding: 3px;
    align-items: center;
    height: 69px;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    margin: 24px 18px;
    padding: 13px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 2px;
    font-style: normal;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin-right: 100px;  
    margin-top: 16px;
}

#logoImg {
    height: 56px;
    width: 56px;
    margin-left: 20px; 
    margin-top: 16px;
}

#nav li:first-child a {
    margin-left: 50px;
}

#container
{
    display: flex;
    margin: 155px;
    padding: 26px;
}

















body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
}

input[type="text"]:focus {
    border-color: #333;
    outline: none;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#heading
{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
}

#btn
{   
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6d34d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}


















#copyWrite
{
    display: flex;
    border:solid black 2px ;
    background-color: black;
    color: white ;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:100% ;
    padding: 2px;
    margin-top: -111px;

}