.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0.3;
    filter: blur(8px);
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgb(0, 0, 0);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    color: white;
}

.signup-box h2 {
    margin-bottom: 37px;
    font-size: 41px;
    font-weight: 700;
}

.signup-box .textbox {
    margin-bottom: 30px;
}

.signup-box .textbox input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 18px;
    color: rgb(255, 255, 255);
    outline: solid;
}

.signup-box .textbox input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.signup-box .btn {
    width: 100%;
    background: #1e31bd;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.signup-box .btn:hover {
    background: #6b4ed6;
}



.whoAreYou {
    margin: 20px 0; 
    font-family: "Roboto Mono", monospace; 
}

.whoAreYou label {
    font-size: 18px; 
    color: #fdfdfd; 
    margin-right: 10px; 
}

#Mode {
    width: 200px; 
    padding: 8px;  
    font-size: 16px; 
    border: 1px solid #ccc;  
    border-radius: 4px; 
    background-color: #f9f9f9; 
    color: #333;  
    cursor: pointer; 
    font-family: "Roboto Mono", monospace; 
}

#Mode:hover {
    border-color: #888; 
    background-color: #eee; 
}

#Mode:focus {
    outline: none; 
    border-color: #555; 
}


@media screen and (max-width: 768px) {
    .signup-box {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .signup-box {
        width: 90%;
    }
}













#copyWrite
{
    display: flex;
    border:solid black 2px ;
    background-color: black;
    color: white ;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:100% ;
    padding: 2px;
    margin-top: 78px;

}