<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch</title>
    <link rel="stylesheet" href="viewbatch.css">
</head>
<body>
    <nav id = "navBar">
        <ul id = "nav">
            <div class="logo">
                <img id = "logoImg" src="logo2.png" alt="UPES logo">
            </div>
            <div id = "container">
            <li><a href="/">Home</a></li>
            <li><a href="https://www.upes.ac.in/about-us">About</a></li>
            <li><a href="https://outlook.office365.com/mail/">Notification</a></li>
            <li><a href="https://myupes-beta.upes.ac.in/oneportal/app/auth/login">LMS</a></li>
            </div>
        </ul>
    </nav>


    <footer id="copyWrite">
        Copyright © 2024 UPES | All Rights Reserved
      </footer>

</body>
</html>